# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [5]:
# Write your answer here
name = input("Enter a Your Name: ")
roll_no = input("Enter Your Roll Number: ")
age	= input("Enter Your Age: ")
marks	= input("Enter Your Marks: ")

print("Name: ", name,"Type : " ,type(name))
print("Roll Number: ", roll_no,"Type : " ,type(roll_no))
print("Age: ", age,"Type : ", type(age))
print("Marks: ", marks,"Type : " ,type(marks))

age2=float(age)
marks2=int(marks)

print("After Type Casting")
print("Age: ", age2,"Type : ", type(age2))
print("Marks: ", marks2,"Type : " ,type(marks2))

Name:  Siddharth Acharya Type :  <class 'str'>
Roll Number:  37 Type :  <class 'str'>
Age:  21 Type :  <class 'str'>
Marks:  81 Type :  <class 'str'>
After Type Casting
Age:  21.0 Type :  <class 'float'>
Marks:  81 Type :  <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [6]:
if (marks2>=80):
				print("Grade Excellent")
elif (marks2>=60 and marks2<80):
				print("Good")
elif	(marks2>=40 and marks2<60):
				print("Pass")
else:
				print("Fail")

Grade Excellent

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [7]:
for i in range(1,100):
    if(i%4 == 0 and i%8 !=0):
        print(i)

4
12
20
28
36
44
52
60
68
76
84
92

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [ ]:
marks=[55,72,48,90,67,72,90]

print("Original List: ",marks)

print("Max: ",max(marks))
print("Min: ",min(marks))
print("count ",len(marks))

print("Marks >=	60")
for m in marks:
	if m>=60:
		print(m)

Original List:  [55, 72, 48, 90, 67, 72, 90]
Max:  90
Min:  48
count  7
Marks >=	60
72
90
67
72
90

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [9]:
print("Tuple of 5 Subjects and Atempting to modify it")
subjects = ('Maths','Science','English','History','Geography')
print(subjects)
#subjects[2] = 'Computer Science' # This will raise an error as tuples are immutable

Tuple of 5 Subjects and Atempting to modify it
('Maths', 'Science', 'English', 'History', 'Geography')

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [10]:
marks = [45, -3, 88, "NA", 102, None, 67]

# Write a function that:
# 1. Removes invalid entries  
# 2. Returns:
#    - Cleaned list  
#    - Number of invalid entries  
#    - Percentage of valid marks  

# Return values using a tuple.

def clean_marks(marks):
				cleaned_marks = []
				invalid_count = 0
				
				for mark in marks:
								if isinstance(mark, int) and 0 <= mark <= 100:
												cleaned_marks.append(mark)
								else:
												invalid_count += 1
												
				total_count = len(marks)
				valid_percentage = (len(cleaned_marks) / total_count) * 100 if total_count > 0 else 0
				
				return (cleaned_marks, invalid_count, valid_percentage)

cleaned_marks, invalid_count, valid_percentage = clean_marks(marks)
print("Cleaned Marks: ", cleaned_marks)
print("Number of Invalid Entries: ", invalid_count)
print("Percentage of Valid Marks: {:.2f}%".format(valid_percentage))

Cleaned Marks:  [45, 88, 67]
Number of Invalid Entries:  4
Percentage of Valid Marks: 42.86%

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [11]:
# Create a dictionary of roll number and name.  
# Implement add, update, and display operations using functions.

# Dictionary to store roll number and name
students = {}

# Function to add a student
def add_student(roll_number, name):
    students[roll_number] = name

# Function to update a student's name
def update_student(roll_number, new_name):
    students[roll_number] = new_name

# Function to display all students
def display_students():
    roll_numbers = list(students.keys())  
    for i in range(len(roll_numbers)): 
        roll_number = roll_numbers[i]
        name = students[roll_number]
        print(f"Roll Number: {roll_number}, Name: {name}")

# Example usage

add_student(101, "Siddharth")
add_student(102, "Student 2")
display_students()
update_student(101, "Student 3")
display_students()

Roll Number: 101, Name: Siddharth
Roll Number: 102, Name: Student 2
Roll Number: 101, Name: Student 3
Roll Number: 102, Name: Student 2

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [12]:
# Function to find factors of n
def find_factors(n):
    factors = []
    for i in range(1, n + 1):  # Loop through numbers from 1 to n
        if n % i == 0:  # If i divides n with no remainder
            factors.append(i)
    return factors

# Check for prime numbers between 1 and 150
for i in range(1, 150):
    if len(find_factors(i)) == 2:  # Prime numbers have exactly two factors: 1 and the number itself
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [13]:
# Function to calculate total marks
def calculate_total_marks(marks):
    return sum(marks)

# Function to calculate average marks
def calculate_average(marks):
    return sum(marks) / len(marks) if marks else 0

# Function to classify the result based on average marks
def classify_result(average):
    if average >= 75:
        return 'Distinction'
    elif average >= 50:
        return 'Pass'
    else:
        return 'Fail'

# Function that combines the results and returns a tuple
def combine_results(name, marks):
    total = calculate_total_marks(marks)
    average = calculate_average(marks)
    result = classify_result(average)
    
    return (name, total, average, result)

# Example usage
name = input
marks = [85, 90, 78, 88, 92]  # Example marks

result = combine_results(name, marks)
print(result)

(<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001E60397D640>>, 433, 86.6, 'Distinction')

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [14]:
def parse_student(raw_input):
    result = {}
    try:
        # Split by '|'
        parts = raw_input.split('|')
        if len(parts) != 4:
            raise ValueError("Input does not have exactly 4 parts")
        
        name = parts[0].strip()
        roll = parts[1].strip()
        age = int(parts[2].strip())
        marks_str = parts[3].strip()
        
        # Validate age
        if age < 16:
            raise ValueError(f"Age {age} is less than 16")
        
        # Convert marks to list of integers
        marks = [int(m.strip()) for m in marks_str.split(',')]
        
        # Validate marks
        for m in marks:
            if not (0 <= m <= 100):
                raise ValueError(f"Mark {m} is out of range 0-100")
        
        # Return dictionary with roll as key
        result[roll] = {
            'Name': name,
            'Age': age,
            'Marks': marks
        }
        
    except Exception as e:
        result['error'] = str(e)
    
    return result

# Example usage
input_str = "Ram|101|22|78, 88, 91"
print(parse_student(input_str))

{'101': {'Name': 'Ram', 'Age': 22, 'Marks': [78, 88, 91]}}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [15]:
def separate_and_convert(data):
    numeric_values = []
    non_numeric_values = []
    
    for item in data:
        # Check for numeric values: int and float (bool is subclass of int in Python)
        if isinstance(item, (int, float)) and not isinstance(item, bool):
            numeric_values.append(float(item))  # Convert to float
        else:
            # Attempt to convert string to float
            try:
                numeric_values.append(float(item))
            except (ValueError, TypeError):
                non_numeric_values.append(item)
    
    return numeric_values, non_numeric_values

# Example usage
data = [10, "20", 30.5, "abc", None, True]
nums, non_nums = separate_and_convert(data)
print("Numeric:", nums)
print("Non-numeric:", non_nums)

Numeric: [10.0, 20.0, 30.5, 1.0]
Non-numeric: ['abc', None]

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [16]:
# Sequence: 2, 6, 12, 20, 30, 42, 56
# Pattern: nth term = n * (n + 1), starting from n=1

sequence = []
n = 1

while len(sequence) < 7:  # We want first 7 terms
    term = n * (n + 1)
    sequence.append(term)
    n += 1

print(sequence)

[2, 6, 12, 20, 30, 42, 56]

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [17]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

# 1. Students in exactly two subjects
# Step 1: Students in each pair of subjects
python_sql = python & sql
python_statistics = python & statistics
sql_statistics = sql & statistics

# Step 2: Remove students in all three subjects
all_three = python & sql & statistics
exactly_two = (python_sql | python_statistics | sql_statistics) - all_three

# 2. Students in only one subject
all_students = python | sql | statistics
only_one = all_students - (exactly_two | all_three)

# 3. Students in all subjects
# Already computed above
# all_three

print("Exactly two subjects:", exactly_two)
print("Only one subject:", only_one)
print("All three subjects:", all_three)

Exactly two subjects: {'Nita', 'Amit'}
Only one subject: {'Sita', 'Gita', 'Ram'}
All three subjects: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [18]:
def analyze_records(records):
    result = {}
    averages = {}
    
    # 1. Compute average per student
    for student, marks in records.items():
        avg = sum(marks) / len(marks)
        averages[student] = avg
    
    # 2. Identify top and bottom performers
    top_performer = max(averages, key=averages.get)
    bottom_performer = min(averages, key=averages.get)
    
    # 3. Return everything in a single dictionary
    result['Averages'] = averages
    result['Top Performer'] = {top_performer: averages[top_performer]}
    result['Bottom Performer'] = {bottom_performer: averages[bottom_performer]}
    
    return result

# Example usage
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

print(analyze_records(records))

{'Averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'Top Performer': {'Sita': 84.0}, 'Bottom Performer': {'Hari': 52.333333333333336}}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [19]:
def analyze_school(school_data):
    student_averages = {}
    class_toppers = {}
    total_sum = 0
    total_count = 0
    
    for class_name, students in school_data.items():
        class_avg_dict = {}
        for student, marks in students.items():
            avg = sum(marks) / len(marks)
            student_averages[student] = avg
            class_avg_dict[student] = avg
            
            # Accumulate for overall school average
            total_sum += sum(marks)
            total_count += len(marks)
        
        # Top performer in the class
        top_student = max(class_avg_dict, key=class_avg_dict.get)
        class_toppers[class_name] = (top_student, class_avg_dict[top_student])
    
    # Overall school average
    school_average = total_sum / total_count if total_count > 0 else 0
    
    # Return results in a structured dictionary
    return {
        "class_toppers": class_toppers,
        "school_average": school_average,
        "student_averages": student_averages
    }

# Example usage
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

result = analyze_school(school_data)
print(result)

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}